{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Estoque Smart</title>
    <link rel="stylesheet" href="{% static 'core/css/dark.css' %}">
</head>
<body>

<div class="navbar">
    <a href="{% url 'dashboard' %}">Dashboard</a>

    {% if perms.core.view_produto %}
        <a href="{% url 'produto_list' %}">Produtos</a>
    {% endif %}

    {% if perms.core.view_movimento %}
        <a href="{% url 'movimento_list' %}">Movimentações</a>
    {% endif %}

    <a href="{% url 'logout' %}" style="float:right;">Sair</a>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
